@import "mediaQuery";

.tituloFaq {
    font-size: $f-size;
    text-align: center;
    padding-bottom:($padding)-20;
    margin-top: 15px;
    color:grey;
    @include movil {
        font-size: 35px;
    }
    @include movil-s {
        font-size: 25px;
    }
}

.accordion {
    margin: 15px 100px;
    @include movil {
        margin: 15px 50px;
    }
    @include movil-s {
        margin: 15px 30px;
    }
    @include tablet {
        margin: 15px 50px;
    }
}

.accordion-button {
    background: $gradient;
    color: white;
}

.accordion-body {
    background: $gradient;
    color: white;
}

.hr {
    margin-top: 75px;
}