@import "mediaQuery";

.tituloProductos {
    font-size: $f-size;
    text-align: center;
    padding-bottom:($padding)-20;
    margin-top: 15px;
    color:grey;
    @include movil-s {
        font-size: 35px;
    }
    @include movil-m {
        font-size: 40px;
    }
}

.productos {
    text-align: center;

    &__img {
         height:$height/2;
         width:$width/2;
         margin: $margin/2;
         transition: all 2s;
         @include movil-s {
             width: 250px;
             height: 200px;
             margin: 15px;
         }
         @include movil-m {
             width: 250px;
             height: 250px;
         }
    }

    &__img:hover {
          width: 450px;
          height: 450px; 
          padding: 15px;
          background-image: $gradient;
    }
}