@import "mediaQuery";

.queHacemos  {
    font-size: $f-size;
    text-align: center;
    margin-top: 15px;
    color: grey;
    @include movil {
        font-size: 35px;
    }

    &__parrafo {
          text-align: center;
          list-style-type: none;
          margin: 40px 0;
          @include movil {
              padding: 0px;
              margin: 30px 25px;
          }
    }
}

.galeria {
    text-align: center;
    margin-bottom: 25px;
    overflow: hidden;

    &__img{
         height:$height/2;
         width:$width/2;
         
         @include movil {
             width: 250px;
             height: 250px;
         }
         @include tablet {
            margin: ($margin/2)-15;
         }
    }
}